@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
  background-color: rgba(109, 33, 79,1.0);
  color: rgb(245,255,250);
  font-family: 'Nova Mono', monospace;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-color: transparent;
  margin: 10px;
  border: none;
  font-size: 35px;
  color: rgb(245,255,250);
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: -60px 25px 25px;
}
.container h2 {
  margin: 0;
}
.wrapper span {
  font-size: 40px;
  margin: 0 10px;
  width: 40px;
}
.timer-wrapper {
  display: inline-block;
  border: 3px solid rgb(245,255,250);
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(179, 55, 113,0.8);
  width: 200px;
}
.timer-wrapper span {
  font-size: 70px;
}
.timer-wrapper h1 {
  margin: 0;
}